#root h1 {
	text-align: center;
}
#input {
	display: block;
	font-size: 1.25rem;
	margin: 0 auto 25px auto;
	text-align: center;
}
#input input{
	border: 3px solid #F58745;
	border-radius: 5px;
}

.no-data {
	text-align: center;
}
.footer {
	background-color: lightgrey;
	color: #FFF;
	padding: 2px 0;
	text-align: center;
}
