.card {
	border: 1px solid #D1D2D4;
	border-radius: 5px;
	margin: 0 auto 2rem auto;
	padding: 5px;
	width: 95%;
}
.card p {
	margin: 0; 
}
.card header {
	align-items: center;
	display: flex;
}
.card .schedule {
	display: flex;
	justify-content: center;
}
.card .schedule > div {
	margin: 10px auto 5px auto;
	text-align: left;
}
.card .schedule > div > p {
	color: #6D6E70;
	margin: 3px;
}
.card .type {
	background-color: #F58745;
	border-radius: 5px;
	color: #FFF;
	margin: 0 0 1px 15px;
	padding: 2px 4px;
}
.card h4 {
	margin-block-start: 0.3rem;
	margin-bottom: 0;
}

.card .info {
	margin-block-start: 4px;
}